/*fonts*/
body {
  font-size: 24px;
  padding-top: 30px;
}

.important.answer, .menu{
  font-size: 19px;
  font-weight: 300;
}


/*Layout*/
blockquote {
  border-left: 0;
  padding: 0;
  margin: 0;
}

a, a:hover{
  color: #73a22f;
}

/* Insert the pseudo element - replicating what FontAwesome does */
blockquote:before {
  content: "\f10d"; 
  font-family: FontAwesome;
  float: left;
  margin-right: 10px;
  font-size:2em;
}

.logo{
  font-weight: 100;
}

.logo .char5,
.logo .char6,
.logo .char7,
.logo .char8,
.logo .char9,
.logo .char10{
  font-weight: 400;
}

.logo .char5{
  margin-left: -0.1em;
  margin-right: -0.1em;
}

h1, h2, h3, h4{
  color: #FA3419;
}

body {
  background: url(../images/talltrees.JPG) repeat-y ;
} 

.reveal .slides>section {
  background: none;
  background-color: white;
  padding:100px;
}

.rings {
  border: none;
  box-shadow:none;
}

.woody{
  color: #eee;
  min-height: 100px;
  margin: 0;
  border-top: 1px solid #FA3419;
  border-bottom: 1px solid #FA3419;
  background: url(../images/talltrees.JPG) repeat-y ;
  background-attachment: fixed;
  background-position: 50% 0px;
  background-size: 100% auto;
}

@media (max-width: 768px){
  .woody{
    background: url(../images/narrowtrees.jpg) repeat-y ;
    background-attachment: fixed;
    background-position: 50% 0px;
    background-size: 100% auto;
  }
}


.woody .container {
  background:rgba(45,48,22,0.5);
  border-radius: 5px;
}

.questions{
  padding-bottom: 10px;
}

.question {
  font-style: italic;
  color: #FA3419;
  min-height: 2em;
}

.post {
  max-width: 600px;
  margin 0 auto;
}

#disqus_thread, #share {
  margin-top: 1em;
}

.navbar {
  min-height:40px;
  font-size: 21px;
  background-color: white;
  border-bottom: 1px solid #FA3419;
}

.navbar .menu-container {
  float: right;
  padding: 3px;
}

.navbar .menu-item{
  background:rgba(45,48,22,0.5);
  padding: 2px 5px;
}

.navbar .menu-item a {
  color: white;
}

