/*fonts*/
body {
  font-size: 24px;
  padding-top: 30px;
}

.important.answer, .menu{
  font-size: 19px;
  font-weight: 300;
}


/*Layout*/
blockquote {
  border-left: 0;
  padding: 0;
  margin: 0;
}

a, a:hover{
  color: #73a22f;
}

h1, h2, h3, h4{
  color: #FA3419;
}

.reveal p { margin: 10px 0; }

body {
  background: url(../images/talltrees.JPG) repeat-y ;
  background-position: 25%; 
} 

.reveal .slides>section {
  background: none;
  background-color: white;
  padding:100px;
}

.rings {
  border: none;
  box-shadow:none;
}

.woody .container {
  background:rgba(45,48,22,0.5);
  border-radius: 5px;
}
